<div class="team">
  <img class="team-hello" src="assets/team/hello.png">
  <p>
    <span class="field">미션</span> 강력한 IT서비스를 통해 물리적인 사무공간의 생산성을 극대화하기
  </p>
  <p>
    <span class="field">미션</span> 전 세계 생산성 향상에 기여하는 글로벌 IT서비스 기업
  </p>
</div>

<style>
div.team {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

img.team-hello {
  width: 80%;
}

div.team p {
  margin: 0;
  font-size: 2.5rem;
}

div.team span.field {
  color: mediumaquamarine;
  font-weight: 900;
}
</style>
